<section>
    <h5>Update your mileage for more accurate information!</h5>
    <form class="maintenance form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Update your mileage" aria-label="Mileage update" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
    </div>
        
    </form>


    {{!-- <button id="add-mileage" class="btn btn-primary" type="submit">Submit</button> --}}


</section>

    {{!-- <div class="progress-bar"></div> --}}

<h2>Mileage</h2>

<table class="logbook container-fluid">
    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Oil Change</th>
        <th>Windshield Wiper Blades</th>
        <th>Battery</th>
        <th>Brake Pads</th>
        <th>Tires</th>

    </tr>
    {{#each maintenance}}
        <tr>
            <td>{{maintenance.maintenance_type}}</td>

            {{!-- <td class="date">{{date}}</td>
            <td class="mileage">{{mileage}}</td>
            <td class="conventional">{{conventional}}</td>
            <td class="synthetic">{{synthetic}}</td>
            <td class="wipers">{{wipers}}/td>
            <td class="battery">{{battery}}</td>
            <td class="brakes">{{brakes}}</td>
            <td class="tires">{{tires}}</td> --}}
        </tr>
    {{/each}}
    
</table>

<script src="/javascript/add-mileage.js"></script>