<section>
    <form class="">
        {{!-- select date --}}
        <label for="date">Date:</label>
        <input type="date">

        {{!-- enter mileage --}}
        <label>Enter Current Mileage:</label>
        <input name="mileage" type="number" >
        
    </form>

    <button type="submit">Submit</button>
</section>

<h2>Mileage LogBook</h2>

<table class="logbook">
    <tr>
        <th>Date</th>
        <th>Mileage</th>
        <th>Projected Service Date (Conventional Motor Oil)</th>
        <th>Projected Service Date (Synthetic Motor Oil)</th>
        <th>Windshield Wiper Blades</th>
        <th>Battery</th>
        <th>Brake Pads</th>
        <th>Tires</th>

    </tr>
    {{#each maintenance}}
        <tr>
            <td>{{maintenance.maintenance_type}}</td>

            {{!-- <td class="date">{{date}}</td>
            <td class="mileage">{{mileage}}</td>
            <td class="conventional">{{conventional}}</td>
            <td class="synthetic">{{synthetic}}</td>
            <td class="wipers">{{wipers}}/td>
            <td class="battery">{{battery}}</td>
            <td class="brakes">{{brakes}}</td>
            <td class="tires">{{tires}}</td> --}}
        </tr>
    {{/each}}
    
</table>

<script src="/javascript/add-mileage.js"></script>